.container_home {
  display: flex;
  flex-direction: column;
  height: 95vh;
  background-color: rgb(238, 238, 238);
  border-radius: 10vh;
  margin: 2.5vh;
}

.bot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
}