.container_home {
  display: flex;
  flex-direction: column;
  height: 95vh;
  background-color: var(--base-color1);
  border-radius: 10vh;
  margin: 2.5vh;
}

.image_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 60vh;
  position: fixed;
  right: 2.5vh;
  bottom: 1vw;
  color: aliceblue;
}