.container_sidemenu {
    position: fixed;
    display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 10vw;
    height: 91vh;
    margin: 2vh;
    border-radius: 10vh;
}

.box_options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
    height: 45vh;
    border-radius: 10vh;
}

.icon_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vh;
    width: 3.5vw;
    border-radius: 10vh;
    color: rgb(161, 161, 161);
}

.box_user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    width: 8vw;
    height: 43vh;
    border-radius: 10vh;
    background-color: rgb(238, 238, 238);
}