.container_sidemenu {
    position: fixed;
    display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 10vw;
    height: 91vh;
    margin: 2vh;
    border-radius: 10vh;
}

.box_options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
    height: 45vh;
    border-radius: 10vh;
}

.icon_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vh;
    width: 9vw;
    color: rgb(161, 161, 161);
    cursor: pointer;
    transition: 0.2s;
}

.icon_menu.active {
    color: var(--quaternary-color);
    border-right: 2px solid var(--quaternary-color);
    scale: 1.1;
    transition: 0.2s;
}

.box_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1vw;
    padding-bottom: 2vw;
    align-items: center;
    margin: 1vh;
    width: 8vw;
    height: 40vh;
    gap: 5vh;
    border-radius: 10vh;
    background-color: rgb(238, 238, 238);
}

.input_wrapper {
    width: 100px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.input_wrapper:focus {
    outline: none;
}

.input_wrapper input[type="checkbox"] {
    width: 100px;
    height: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--white);
    border-radius: 20px;
    position: relative;
    rotate: 90deg;
    outline: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.input_wrapper input[type="checkbox"]:after {
    position: absolute;
    content: "";
    top: 10px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(238, 238, 238);
    rotate: 90deg;
    z-index: 2;
    border-radius: 100px;
    -webkit-transition: all .35s;
    transition: all .35s;
}

.input_wrapper svg {
    position: absolute;
    top: 70%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    fill: rgb(238, 238, 238);
    color: rgb(238, 238, 238);
    -webkit-transition: all .35s;
    transition: all .35s;
    z-index: 1;
}

.input_wrapper .is_checked {
    width: 18px;
    left: 35%;
    -webkit-transform: translateX(0%) translateY(-100%) scale(0);
    transform: translateX(0%) translateY(-50%) scale(0);
}

.input_wrapper .is_unchecked {
    width: 18px;
    right: 35%;
    -webkit-transform: translateX(0) translateY(-10%) scale(1.5);
    transform: translateX(-30%) translateY(50%) scale(1.5);
}

/* Checked State */
.input_wrapper input[type="checkbox"]:checked {
    background-color: var(--white);
}

.input_wrapper input[type="checkbox"]:checked:after {
    left: calc(100% - 40px);
}

.input_wrapper input[type="checkbox"]:checked+.is_checked {
    -webkit-transform: translateX(0%) translateY(-50%) scale(1.5);
    transform: translateX(30%) translateY(-290%) scale(1.5);
}

.input_wrapper input[type="checkbox"]:checked~.is_unchecked {
    -webkit-transform: translateX(0%) translateY(-50%) scale(0);
    transform: translateX(-0%) translateY(-50%) scale(0);
}

.avatar_image {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

.user_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

.menu_divider {
    width: 5vw;
    height: 0.3vh;
    background-color: rgb(161, 161, 161);
    border-radius: 50px;
}

.pc_number {
    font-size: 1.5vh;
    color: rgb(161, 161, 161);
    background-color: var(--white);
    padding: 2vh;
    border-radius: 100%;
    margin-top: 1rem;
}

.logo_menu {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}