.banner_main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 80vh;
    margin-right: 21vw;
    margin-left: 13.5vw;
    margin-top: 2.5vh;
}

.container_banner_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 95vh;
    overflow: hidden;
}

.banner_main_svg {
    position: fixed;
    width: 26vw;
    right: 28.5vw;
    top: 27.5vh;
}

.box_content_banner_info {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 1.9rem;
    color: var(--black);
    border-radius: 1vh;
    position: fixed;
    padding-right: 1vw;
    top: 15vh;
    left: 18vw;
    width: 56vw;
    height: 50vh;
    gap: 1vh;
}

.title_main {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
    margin-top: 1vh;
}

.desc_main {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--base-color3);
    margin-top: 2vh;
}

.button_main {
  background-color: var(--button-theme1);
  border-radius: 4px;
  border: 0;
  box-shadow: var(--button-theme1) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  max-height: 5vh;
  max-width: 20vw;
  padding: 10px 15px;
  text-align: center;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
  margin-top: 5vh;
}

.button_main:hover {
  background-color: var(--button-theme2);
  transform: translateY(-2px);
}

.slick-arrow.slick-prev {
    display: none;
}

.high_text {
    font-weight: 700;
    color: var(--tertiary-color);
}

.box_code {
    display: flex;
    justify-content: flex-start;
    padding-left: 2.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    align-items: center;
    width: 95%;
    height: 100%;
    background-color: #282C34;
    color: #fff;
    gap: 1vh;
    font-size: 1rem;
    border-radius: 1vh;
    box-shadow: 0 0 0.5vh 0.2vh rgba(0, 0, 0, 0.2);
}

.input_code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding-left: 2.5vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    background-color: #282C34;
    color: #fff;
    font-size: 1rem;
    border-radius: 1vh;
    border: none;
    box-shadow: 0 0 0.5vh 0.2vh rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
}

.box_content_banner_info::-webkit-scrollbar {
    width: 3px;
}

.box_content_banner_info::-webkit-scrollbar-track {
    background: var(--base-color2);
}

.box_content_banner_info::-webkit-scrollbar-thumb {
    background-color: var(--quaternary-color);
    border-radius: 10px;
    border: none;
}

.icon_content_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    background-color: var(--base-color1);
    border-radius: 1vh;
    margin-top: 2vh;
    padding: 1vh;
    height: 9vh;
    color: var(--tertiary-color);
}

.icon_content_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    background-color: var(--base-color1);
    border-radius: 1vh;
    margin-top: 2vh;
    padding: 1vh;
    font-size: 9vh;
    color: var(--tertiary-color);
}

.arduino_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 30vh;
    margin-top: 2vh;
}

.box_image_arduino {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 35vh;
    margin-top: 2vh;
}

.componets_arduino {
    display: flex;
    justify-content: center;
    align-items: center;
    width:  35vw;
    height: 30vh;
    margin-top: 2vh;
    border-radius: 20px;
    box-shadow: 0 0 0.5vh 0.2vh rgba(0, 0, 0, 0.2);
}

.box_arduino {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 35vh;
    margin-top: 2vh;
}

.robotica_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 0.5vh 0.2vh rgba(0, 0, 0, 0.2);
    width: 25vw;
    height: 30vh;
    margin-top: 2vh;
}