body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  cursor: default;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: none;
  border: none;
}

* {
  font-family: Legend;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #223150;
  --secondary-color: #2F4B79;
  --tertiary-color: #4A668E;
  --quaternary-color: #C92337;
  --quinary-color: #D9A64A;
  --senary-color: #E16237;

  --white: #fff;
  --black: #000;

}