body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --primary-color: #223150;
  --secondary-color: #2F4B79;
  --tertiary-color: #4A668E;
  --quaternary-color: #C92337;
  --quinary-color: #D9A64A;
  --senary-color: #E16237;

  --white: #fff;
  --black: #000;

}