.container_banner_news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17.5vw;
    height: 53vh;
    background-color: var(--base-color2);
    position: fixed;
    right: 2.6vw;
    top: 4.5vh;
    border-radius: 10vh 10vh 45% 10vh;
}